<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some erro occured!</h1>
    <p> We are working on fix,sorry for the inconvenience </p>

<%- include('includes/end.ejs') %>